{% extends "./student_header.html" %} {% block title%} Account Page {% endblock %}
{% load static %} 
{% block javascripts %}
  <script src="{% static 'portal/change_password.js' %}" defer></script>
{% endblock %}

{% block content %}
  <div class="grid grid-cols-1 sm:grid-cols-1 grid-flow-rows mt-5 md:grid-cols-2 justify-items-center gap-6 text-lg px-4">
    {% include "./student-info.card.html" with warn=request.user.student.get_warning_display status=request.user.student.get_status_display myfname=request.user.first_name mylname=request.user.last_name mysid=request.user.student.registration_id myterms=request.user.student.passed_terms gpa=request.user.student.gpa|floatformat:2 mgpa=request.user.student.mgpa|floatformat:2 %}

    <div class="w-full m-1 rounded-lg shadow-lg grid md:col-span-1 bg-white">
      {% if condition == True %}
        <script>
          alert("Password changed success!");
        </script>
      {% endif %}
      <form id="form" method="POST" action="{% url 'portal:change_password_view' %}">
        {% csrf_token %}
        <h1 class="text-left pl-4 py-4 rounded-t-lg font-bold text-3xl bg-[#7dd3fc]">Change password</h1>
        <label class="text-lg font-semibold pl-2">
          Old password
        </lable><br>
        <input name="old_password" id="old_password" type="password" class="border border-black rounded-lg text-lg m-2 px-2"><br>
        {% if condition == False %}
          <div class="text-red-500">Invalid Password</div>
        {% endif %}
        <label class="text-lg font-semibold pl-2">
          New password
        </lable><br>
        <input name="new_password" id="new_password" type="password" class="border border-black rounded-lg text-lg m-2 px-2 "><br>
        <label class="text-lg font-semibold pl-2">
          Confirm password
        </lable><br>
        <div id="perr"></div>
        <input id="con_password" type="password" class="border border-black rounded-lg text-lg m-2 px-2"><br>
        <div id="cperr"></div>
        <button id="change-btn" type="submit" class="border-black border-b-2 active:border-b m-2 py-2 mb-3 px-3 bg-[#fbbf24] hover:bg-[#facc15] active:bg-[#846a02] text-black font-bold rounded-lg transition duration-300">
          CHANGE!
        </button>
      </form>
    </div>

      <div class=" w-full m-1 rounded-lg shadow-lg grid md:col-span-1 bg-white">
        <h1 class="text-left h-[70px] pl-4 py-4 font-bold text-3xl bg-[#7dd3fc] rounded-t-lg">Actions</h1>

        <form method="POST" action="{% url 'portal:create_document' 2 %}">
          {% csrf_token %}
          <div class=" m-3">
            <button id="transcript" type="submit" class="border-black border-b-2 active:border-b py-2 px-3 mt-5 bg-[#fbbf24] hover:bg-[#facc15] active:bg-[#846a02] text-black font-bold rounded-lg transition">
              Issue your transcript
            </button>
          </div>
        </form>
        <form method="POST" action="{% url 'portal:create_document' 1 %}">
          {% csrf_token %}
          <div class=" m-3">
            <button type="submit" name="towhom" value="towhom" type="submit" class="border-black border-b-2 active:border-b py-2 px-3 bg-[#fbbf24] hover:bg-[#facc15] active:bg-[#846a02] text-black font-bold rounded-lg transition ">
              Issue a to whom it may concern
            </button>
          </div>
        </form>
        
      </div>
  </div>
  
{%endblock%}