{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sign-in Page</title>
        <script src="./sign_in.js" defer></script>
        <script src="https://cdn.tailwindcss.com/"></script>   
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">         
    </head>
    <body>
      <nav class="bg-[#7dd3fc] shadow-lg">
        <div class="max-w-6xl mx-auto px-4 py-2">
          <div class="flex justify-center">
            <div>
              <a href="{% url 'portal:login_view' %}">
                <img src="{% static 'portal/Group 12.svg' %}" alt="Logo" width=120>
              </a>
            </div>
          </div>
        </div>
      </nav>
      
    </body>
</html>