{% extends "./student_header.html" %} {% block title%} Welcome, {{request.user.first_name}} {% endblock %} {% block content %}




<div class="grid grid-cols-1 sm:grid-cols-1 grid-flow-rows mt-5 md:grid-cols-2 justify-items-center md:gap-6 text-lg md:px-4">
    <div class="border border-black w-full m-1 py-3 px-2 rounded-lg shadow-lg grid md:col-span-2 bg-white">
        <div class="text-center ">

            <div class="inline-block relative w-64 m-3">
                <a class="border-black border-b-2 active:border-b py-2 px-3 bg-[#fbbf24] hover:bg-[#facc15] active:bg-[#846a02] text-black font-bold rounded-lg transition duration-300" href="{% url 'portal:planner_view' %}">Change registration plan </a>
                
            </div>
    
            <div class="inline-block relative w-64 m-3">
                <a class="border-black border-b-2 active:border-b py-2 px-3 bg-[#fbbf24] hover:bg-[#facc15] active:bg-[#846a02] text-black font-bold rounded-lg transition duration-300" href="{% url 'portal:my_schedule' 0 %}">View your schedule </a>
            </div>

        </div>    
        
    </div>
{% if not_register_time %}
    <h1 id='not_register_time'> Not Registration Time </h1>
{% else %}
    {%if section_list%}
        <div class="border border-black w-full m-1 py-3 px-2 rounded-lg shadow-lg grid md:col-span-2 bg-white">
            <h1 class="text-left ml-8 my-4 font-bold text-3xl">Sections</h1>
            <div class="grid grid-cols-1 sm:grid-cols-1 grid-flow-rows md:grid-cols-2 justify-items-center gap-1 text-lg px-4">
            {% for sec in section_list %}
            {% include "./section.card.html" with action="ADD" course="Intro to Treason" section="XXX"  instructor="Zaid Omar"  campus="shuhada" building="Sci" room="02001" days="MON TUE THE" time="11:00 TO 11:50" final="23JUN1998 01:00TO03:00" %}
            {% endfor %}
            </div>

        </div>

    {% else %}

    <h1 class="text-left my-4 font-bold text-3xl col-span-2">My Registeration Plan</h1>
    <div class=" w-full md:m-1 rounded-lg shadow-lg grid md:col-span-2 ">
        
            <table class="min-w-full border-b bg-[#7dd3fc] rounded-lg py-3 px-2">
                <thead >
                    <tr>
                        <th scope="col" class="py-4 text-2xl">
                            Course&nbsp;#
                        </th>

                        <th scope="col" class="py-4 text-2xl">
                            Title
                        </th>  

                        <th scope="col" class="py-4 text-xl">
                            Credits
                        </th> 

                        <th scope="col" class="py-4 text-2xl">
                            Show
                        </th> 
                    </tr>
                </thead>
                <tbody class="text-sm lg:text-lg bg-white divide-y divide-dashed divide-blue-400 text-center">
                    {% for course in plan %}
                    <p class="{% cycle "" "bg-sky-50" as rowcolors %}"> </p>
                    {% include "./registeration-table-entry.html" with number=course.course_id  title=course.course_name credit=course.credits L=rowcolors  %}
                    {% endfor %}
                </tbody>
            </table>
        
    </div>
    {% endif %}

    <div id="show_sec_grid" class="border border-black w-full m-1 py-3 px-2 rounded-lg shadow-lg hidden col-span-2 bg-white">
        <h1 class="text-left ml-8 my-4 font-bold text-3xl">Sections</h1>
        <div id="show_sec" class="grid grid-cols-1 sm:grid-cols-1 grid-flow-rows md:grid-cols-2 justify-items-center gap-1 text-lg px-4">
            
        </div>
    </div>


    <div class=" w-full m-1 py-3 px-2 rounded-lg  grid col-span-2 ">
        <h1 class="text-left md:ml-8 my-4 font-bold text-3xl">Schedule</h1>
        <div id="schedule_sec" class="grid grid-cols-1 sm:grid-cols-1 grid-flow-rows md:grid-cols-2 justify-items-center gap-5 text-lg px-4">
            {% for sec in summery %}
                {% include "./section.card.html" with id=sec.id action="REMOVE" course=sec.course.course_name section=sec  instructor=sec.instructor.login.first_name  campus='NaN' building=sec.building room=sec.room days=sec.days time=sec.start_time final="ASK Instructor" %}
            {% endfor %}
        </div>
    </div>

</div>
{% endif %}
<script>
    var add_id = null;
    $(function() {
        course = "NOT FOUND";
        section = "XXX";
        instructor = "INSTRUCTOR NAME";
        campus = "LOCATION";
        building = "SCI";
        room = "XXXXXX";
        days = "DAY DAY DAY";
        time = "XX:00 TO XX:50";
        final = "XXMONXXXX XX:00 TO XX:50";

        //ajax
        $('.sec-btn').on('click', function() {

            var id = $(this).attr('id');
            var myurl = $(this).attr("data-url");
            $.ajax({
                type: "GET",
                data: {json_course: id},
                url: myurl,
                success: function (mysections) {
                    render_reg_cards(mysections);
                },
            });
        });

       
    });

    $("sec-add-btn").click(function()
     {

        add_id = $(this).attr("data-id"); // in this scope "this" is the button.
     });

    function add_me(e){

       
        
        add_id = $(e).attr('data-id');
        var myurl = $(e).attr('data-url');

        $.ajax({
            
            type: "POST",
            data: {json_sec_id: add_id,
                   csrfmiddlewaretoken: '{{ csrf_token }}'},
            url: myurl,
            success: function (mysection) {
                add_me_helper(mysection);
            },
            error: function() {
                console.log('error adding section');
            }
        });
        
    }

    function remove_me(e){
        var remove_id = $(e).attr('data-id');
        var myurl = $(e).attr('data-url');

        console.log(`remove_id: ${remove_id}, myurl: ${myurl}`)
        $.ajax({
            
            type: "POST",
            data: {sid: remove_id,
                   csrfmiddlewaretoken: '{{ csrf_token }}'},
                    url: myurl,
            success: function (mysection) {
                remove_me_helper(mysection, remove_id);
            },
            error: function(n) {
                console.log(`error removing section ${n.cond}`);
            }
        });

    }

    function remove_me_helper(n, remove_id){
        //var myCard = document.getElementById(`remove-${remove_id}`);
        $(`#remove-${remove_id}`).slideUp(200);
    }

    //TODO the remove functionality
    function add_me_helper(n){
        if(n.condition == "Added Successfully"){
    
            //alert(`id: ${n.id}`);
            var N = document.getElementById("schedule_sec").innerHTML;
            document.getElementById("schedule_sec").innerHTML = `{% include "./section.card.html" with id="${n.section.id}" action="REMOVE" course="${n.section.course}" section="${n.section.snumber}"  instructor="${n.section.instructor}" building="${n.section.building}" room="${n.section.room}" days="${n.section.days}" stime="${n.section.start_time}" etime="${n.section.end_time}" %} ${N}`;
            /*{% include "./section.card.html" with action="REMOVE" course="${n.sec.course.course_name}" section="${n.sec}"  instructor="${n.sec.instructor.login.first_name}"  campus="${n.sec.location}" building="${n.sec.location}" room="${n.sec.location}" days="${n.sec.days}" time="${n.sec.start_time}" final="ASK Instructor" %}*/
            console.log("start_time: " + n.section.start_time);
            console.log("end_time: ", + n.section.end_time);
            alert(n.section['course'] + " is added successfully");
        } else if (n.condition == "Already Added"){
            alert(n.section['course'] + " is already in your schedule");
        } else if (n.condition == "Already Passed") {
            alert("You passed " + n.section["course"] + "with grade higher than C");
        } else if (n.condition == "Prerequisites not passed") {
            var s = "The following courses are required:\n";
            $.each(n.prerequisites, function(i, course){
                s += "- " + course + "\n";
            });
            alert(s);
        } else if (n.condition == "Time conflict") {
            var s = "Time conflict with:\n"
            $.each(n.time_conflict, function(i, course){
                s += "- " + course + "\n";
            });
            alert(s);
        }
    }
    
    function render_reg_cards(mysections){
        $("#show_sec").html("");
        $("#show_sec_grid").removeClass("hidden").addClass("grid");

        $.each(mysections, function(i, mysection) {
            name = mysection["instructor"] == null ?  "faculty member" : mysection["instructor"]["first_name"] + " " + mysection["instructor"]["last_name"];

            course = mysection["course"]["course_name"];
            section = mysection["snumber"];
            instructor = name;
            campus = mysection["location"];
            building = mysection["building"];
            room = mysection["room"];
            days = mysection["days"];
            time = mysection["start_time"] + " TO " + mysection["end_time"];
            final = "ASK INSTRUCTOR";

            sec_card = `
            <div class="border border-black w-full m-1 py-3 px-2 rounded-lg bg-white ">
                <table class="w-full">
                    <caption class="text-left ml-2 my-4 font-bold text-2xl">{{course}}</caption>
                    <tbody class="divide-y divide-dashed divide-blue-400">
                        <tr>
                            <th class="text-left"> Section </th>
                            <td class="text-right"> ${section}</td>
                        </tr>
                        <tr class="bg-sky-50">
                            <th class="text-left"> Instructor </th>
                            <td class="text-right"> ${instructor}</td>
                        </tr>
                        <tr class="bg-sky-50">
                            <th class="text-left"> Building </th>
                            <td class="text-right"> ${building}</td>
                        </tr>
                        <tr>
                            <th class="text-left"> Room </th>
                            <td class="text-right"> ${room}</td>
                        </tr>
                        <tr class="bg-sky-50">
                            <th class="text-left"> Days </th>
                            <td class="text-right"> ${days}</td>
                        </tr>
                        <tr>
                            <th class="text-left"> Time </th>
                            <td class="text-right"> ${time}</td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                    <button onclick="add_me(this)" data-url="{% url 'portal:add_section' %}" data-id="${mysection["id"]}" class="border-black border-b-2 active:border-b sec-add-btn py-2 px-3 bg-blue-600 hover:bg-blue-400 active:bg-blue-800 text-white font-bold rounded-lg transition duration-300">
                                        ADD!
                                    </button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            `;

            $("#show_sec").append(sec_card);

        })

    }
</script>


{% endblock %}