<div class="md:w-1/2 w-full m-1 rounded-lg shadow-lg grid md:col-span-2 divide-y divide-dashed divide-blue-400 bg-white">
    <p class="font-bold text-xl text-center rounded-t-lg pb-2 py-3 px-2 bg-[#7dd3fc]">Student Information</p>

    <div class="flex justify-between px-2 bg-sky-50">
      <span class="content-start font-medium"> Student Name</span>
      <span class="content-end">{{myfname}} {{mylname}}</span>
    </div>


    <div class="flex justify-between px-2">
        <span class="content-start font-medium">Student ID</span>
        <span class="content-end">{{mysid}}</span>
    </div>

    
    <div class="flex justify-between px-2 bg-sky-50">
        <span class="content-start font-medium">Terms Passed</span>
        <span class="content-end">{{myterms}}</span>
    </div>

    
    <div class="flex justify-between px-2 ">
        <span class="content-start font-medium">GPA</span>
        <span class="content-end">{{gpa}}</span>
    </div>

    <div class="flex justify-between px-2 bg-sky-50 rounded-b-lg pb-2">
        <span class="content-start font-medium">MGPA</span>
        <span class="content-end">{{mgpa}}</span>
    </div>
    
    

    <div class="flex justify-between px-2 ">
        <span class="content-start font-medium">Warning</span>
        <span class="content-end">{{warn}}</span>
    </div>


    <div class="flex justify-between px-2 bg-sky-50 rounded-b-lg pb-2">
        <span class="content-start font-medium">Status</span>
        <span class="content-end">{{status}}</span>
    </div>


    
</div>